
<div class="container">
  <div class="card-white" id="answers">

<h2>The Coaches Answer Page</h2>

<p><strong>The Question:</strong></p>
<%= @question %>
<br><br>
<p><strong>The Answer:</strong></p>
<%= @answer %>
<br><br>

<%= link_to "Ask another question.", form_path %>
</div>
</div>
