<div class="container">
  <div class="card-white" id="answers">

<h1>Hello</h1>

<form action="/answer" method="get">
  What is your question:<br><br>
  <input class="input-box" type="text" name="question">
  <br><br>
  <input class="btn btn-warning" type="submit" value="Submit">
  <!-- < type="button" class="btn btn-primary">Submit</button> -->
</form>
</div>
</div>
